/* ESTILOS TITULOS Y SUBTITULOS GENERAL */
.Titulo {
    background-image: url(../images/backround.jpg);
    font-family: $Roboto;
    text-align: center;
    padding: 20px;
}

.SubTitulo {
    display: flex;
    justify-content: center;
    font-family: $Roboto;
    font-size: medium;
    padding: 10px;
    font-style: italic;
}

/* MEDIA QUERIES */
@media screen and (max-width: 320px) { 
    .SubTitulo {
        display: none;
    }
}

