* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
    font-family: 'Roboto Serif', serif;
    text-decoration: none;
}

/*HEADER*/
header {
    height: 20rem;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 15rem 50px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "logo nombreprincipal"
    "logo nav";
}
header .logo {
    margin: 10px;
    padding-right: 10px;
    grid-area: logo;
}

header span h1 {
    display: inline-block;
    font-family: 'Rouge Script', cursive;
    font-size: 7rem;
    margin: none;
    border: none;  
    grid-area: nombreprincipal;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    grid-area: nav;
}

header nav ul li {
    border-radius: 10px;
    padding: 20px;
    align-items:flex-end;  
}
.menuhamburgesa {
    display: none; 
}

/*>>>>>>>>>>>MEDIA QUERIES DE HEADER<<<<<<<<<<<<*/

@media (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 35% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: 
        "logo nombreprincipal"
        "logo nav";
        justify-items: center;
        align-items: center;
        margin-bottom: 50px;
    }
    header span h1 {
        font-size: 3rem;
    }
    header nav ul {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
    }
    header nav ul li {
        border-radius: 10px;
        padding: 5px;
        align-items:flex-end;  
    } 
    header .logo {
        margin: none;
        padding-right: none;
    }   
}
@media screen and (max-width: 320px) {
    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% auto;
        grid-template-areas: 
        "logo"
        "nav";
        justify-items: center;
        align-items: center;
        margin-top:70px;
        margin-bottom: 150px;
    }
    header span h1 {
        display: none;
    }
    header nav {
        margin-top: 70px;
        background-color: #D1A38C;
        width: 320px;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    header .logo {
        padding-right: none;
    }   
    header .logo img {
        width: 300px;
        height: 300px;
        border: 1px solid black;
        border-radius: 50%;
        margin-left: 10px;
    }
}
/*>>>>>>>>>>>>>>>>>>>FIN MEDIA QUERIES DE HEADER<<<<<<<<<<<<<<<<<<<<<*/
/* FIN DEL HEADER*/

/*BODY*/

.AboutLupita {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 100px;
    background-image: url(images/backround.jpg);
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Serif', serif;
}

.Titulo {
    background-image: url(images/backround.jpg);
    font-family: 'Roboto Serif', serif;
    text-align: center;
    padding: 20px;
}

.SubTitulo {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Serif', serif;
    font-size: medium;
    padding: 10px;
    font-style: italic;
}

main .Services {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 320px) {
    .AboutLupita {
        background-image: url(images/backround.jpg);
        font-size: 15px;
        padding: 10px;
        text-align: center;
        font-family: 'Roboto Serif', serif;
    }

    .SubTitulo {
        display: none;
    }
}
/*GALLERY*/

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.photos img {
    padding: 5px;
    width: 500px;
    height: 500px;
} 

@media screen and (max-width: 320px) {
    .photos img {
    width: 20px;
    height: 20px;
    padding: 2px;
    }
}
@media (max-width: 768px) {
    .photos img {
    width: 250px;
    height: 250px;
    padding: 3px;
    }
}

/*GRIDS A FOTOS*/

/* .gallery__Grid {
    display: grid;
    grid-template-rows: 50px repeat(6, 1fr); 
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: repeat(12, 500px);
    grid-template-areas: 
     "titulo titulo titulo"
    "img1 img2 principal"
    "img3 img4 principal"
;
}
#titulo__Gallery {
    grid-area: titulo;
    text-align: center;
}
.foto1 {
    grid-area: img1;
}
.foto2 {
    grid-area: img2;
}
.foto3 {
    grid-area: img3;
}
.foto4 {
    grid-area: img4;
}
.foto5 {
    grid-area: principal;
}  */

/* #grid__fotos {
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "titulo titulo titulo"
    "img1 img2 principal"
    "img3 img4 principal"
;
} */

/*FIN GRID DE FOTOS*/

/*TABLA DE SIGN IN*/
.tabla {
    margin-left: 50px;
    grid-area: tabla;
}

/*FORMULARIOS*/
 .formulariologin {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: stretch;
    background-color:#C4C4C4;
    width: 500px;
    grid-area: LogIn;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
    font-family: 'Roboto Serif', serif;
/*     margin-left: 700px; */
 }
.botonlogin {
    display: grid;
    justify-content: center;
    align-items: center;
}
.formulariogiftcard {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: stretch;
    justify-content: center;
    background-color:#C4C4C4;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto Serif', serif;
}
.sectiongiftcard {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.formulariocontact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color:#C4C4C4;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
    font-family: 'Roboto Serif', serif;
  }
  
.divcontact {
    display: grid;
    justify-content: center;
    justify-items: center;
}
.formularioSignIn {
    display: grid;
    grid-template-columns: 100%;
    justify-items: stretch;
    align-items: stretch;
    background-color:#C4C4C4;
    grid-area: SignIn;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto Serif', serif;
} 
.iniciarsesion {
    display: grid;
    justify-content: center;
    align-items: center;
}
.divsignin {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 300px auto;
    grid-template-areas: 
    "tabla SignIn"
    "LogIn LogIn"
    ; 
    align-items: center;
    justify-items: center;
}
button, input, select, textarea {
    font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

/*Botones de Iniciar sesión y Registrarse con .Color*/
.Color {
    background-color: #D1A38C;
}
legend {
    width: 1px;
    height: 1px;
    overflow: hidden;
}
textarea {
    max-height: 28px;
    max-width: 200px;
}

  /*<<<<<<<<<<<<<<MEDIA QUERIES DE SIGN IN>>>>>>><*/
  @media screen and (max-width: 320px) {
      .divsignin {
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 300px 400px;
        grid-template-areas: 
        "SignIn"
        "LogIn"
        ; 
        align-items: center;
        justify-items: center;
    }
      .tabla {
          display: none;
    }
      .formulariologin {
        margin: 0 0 100px 0;
        padding: 10px;
        justify-content: space-around;
        align-items: space-around;
        background-color:#C4C4C4;
        height: fit-content;
        width: 300px;
        grid-area: LogIn;
        overflow: hidden;
    }
      .formulariocontact {
        margin: 10px;
        background-color:#C4C4C4;
        height: fit-content;
        width: 300px;
    }
  }
  @media (max-width: 768px) {
    .divsignin {
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 300px 400px;
        grid-template-areas: 
        "SignIn"
        "LogIn"
        ; 
        align-content: center;
        justify-content: center;
    }
    .tabla {
          display: none;
    }
    .formulariologin {
        margin: 0 0 100px 0;
        padding: 10px;
        justify-content: space-around;
        align-items: space-around;
        background-color:#C4C4C4;
        height: fit-content;
        width: 300px;
        grid-area: LogIn;
        overflow: hidden;
    }
  }

/*FOOTER*/
/*FOOTER CON FLEXBOX ANTERIOR*/
/* footer {
    grid-area: footer;
    background-color: #E1BAA8;
    display: flex;
    justify-content: center;
    align-items: center;
} */

footer {
    padding: 50px 0 50px 0;
    grid-area: footer;
    background-color: #E1BAA8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "texto"
    "redes";
}
footer span {
    font-family: 'Roboto Serif', serif;
    font-size: small;
    grid-area: texto;
}
footer ul li {
    list-style: none;
    align-items: center;
    display: inline;
}
.Redes {
    grid-area: redes;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
